.button-addon {
  margin-left: 8px;
  padding: 5px;
  padding-left: 10px;
  border-left-style: groove;
}

.content-area {
  margin-top: 50px;
}

.section-detail {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search-criteria {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-font {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.criteria {
  font-size: 15px;
}

.float-right {
  margin-left: 420px;
}

.mybtn {
}

.table-section {
}
